.killRowContainer {
  @apply flex items-center whitespace-nowrap overflow-hidden;
  &:not(:last-child) {
    @apply border-b border-stone-800;
  }
  @apply bg-transparent transition-all hover:bg-stone-900 hover:border-stone-700;
}

.killRowImage {
  @apply border border-stone-800 rounded-[4px] object-contain;
}

.attackerCountLabel {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 10px;
  padding: 0 2px;
}

.attackerCountLabelCompact {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 0.6rem;
  line-height: 1;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1px 2px;
  pointer-events: none;
}
