.pendingDeletion {
  background-color: #f87171;
  transition: background-color 0.2s ease;
}


.pendingDeletion td {
  background-color: #f87171;
  transition: background-color 0.2s ease;
}

.pendingDeletion {
  background-color: #f87171;
  transition: background-color 0.2s ease;
}

.Table thead tr {
  font-size: 12px !important;    
  line-height: 1.333;     
}

.TableRowCompact {
  font-size: 12px !important;
  line-height: 1.333;
}

.Table td {
  padding: 2px;
  height: 25px;  
  border: 1px solid #383838;
  box-sizing: border-box;
}


