@use "sass:color";
@use '@/hooks/Mapper/components/map/styles/eve-common-variables';
@import '@/hooks/Mapper/components/map/styles/solar-system-node';

@keyframes move-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 30px 0;
  }
}

.RootCustomNode {
  display: flex;
  width: 130px;
  height: 34px;

  font-family: var(--rf-node-font-family, inherit) !important;
  font-weight: var(--rf-node-font-weight, inherit) !important;

  flex-direction: column;
  padding: 2px 6px;
  font-size: 10px;

  background-color: var(--rf-node-bg-color, #202020) !important;
  color: var(--rf-text-color, #ffffff);

  box-shadow: 0 0 5px rgba($dark-bg, 0.5);
  border: 1px solid color.adjust($pastel-blue, $lightness: -10%);
  border-radius: 5px;
  position: relative;
  z-index: 3;
  overflow: hidden;

  &.Pochven,
  &.Mataria,
  &.Amarria,
  &.Gallente,
  &.Caldaria {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-size: cover;
      background-position: 50% 50%;
      z-index: -1;
      background-repeat: no-repeat;
      border-radius: 3px;
    }
  }

  &.Mataria {
    &::after {
      background-image: url('/images/mataria-180.png');
      opacity: 0.6;
      background-position-x: 1px;
      background-position-y: -14px;
    }
  }

  &.Caldaria {
    &::after {
      background-image: url('/images/caldaria-180.png');
      opacity: 0.6;
      background-position-x: 1px;
      background-position-y: -10px;
    }
  }

  &.Amarria {
    &::after {
      opacity: 0.45;
      background-image: url('/images/amarr-180.png');
      background-position-x: 0;
      background-position-y: -13px;
    }
  }

  &.Gallente {
    &::after {
      opacity: 0.5;
      background-image: url('/images/gallente-180.png');
      background-position-x: 1px;
      background-position-y: 0;
    }
  }

  &.Pochven {
    &::after {
      opacity: 0.8;
      background-image: url('/images/pochven.webp');
      background-position-x: 0;
      background-position-y: -13px;
    }
  }

  &.selected {
    border-color: $pastel-pink;
    box-shadow: 0 0 10px #9a1af1c2;
  }

  &.rally {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;

      border-color: $neon-color-1;
      background: repeating-linear-gradient(
          45deg,
          $neon-color-3 0px,
          $neon-color-3 8px,
          transparent 8px,
          transparent 21px
      );
      background-size: 30px 30px;
      animation: move-stripes 3s linear infinite;
    }
  }

  &.eve-system-status-home {
    border: 1px solid var(--eve-solar-system-status-color-home-dark30);
    background-image: linear-gradient(45deg, var(--eve-solar-system-status-color-background), transparent);
    &.selected {
      border-color: var(--eve-solar-system-status-color-home);
    }
  }

  &.eve-system-status-friendly {
    border: 1px solid var(--eve-solar-system-status-color-friendly-dark20);
    background-image: linear-gradient(275deg, var(--eve-solar-system-status-friendly-dark30), transparent);
    &.selected {
      border-color: var(--eve-solar-system-status-color-friendly-dark5);
    }
  }

  &.eve-system-status-lookingFor {
    border: 1px solid var(--eve-solar-system-status-color-lookingFor-dark15);
    background-image: linear-gradient(275deg, #45ff8f2f, #457fff2f);
    &.selected {
      border-color: $pastel-pink;
    }
  }

  &.eve-system-status-warning {
    background-image: linear-gradient(275deg, var(--eve-solar-system-status-warning), transparent);
  }

  &.eve-system-status-dangerous {
    background-image: linear-gradient(275deg, var(--eve-solar-system-status-dangerous), transparent);
  }

  &.eve-system-status-target {
    background-image: linear-gradient(275deg, var(--eve-solar-system-status-target), transparent);
  }
}

.Bookmarks {
  position: absolute;
  width: 100%;
  z-index: 1;
  display: flex;
  left: 4px;

  & > .Bookmark {
    min-width: 13px;
    height: 22px;
    position: relative;
    top: -13px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 8px;
    text-align: center;
    padding-top: 2px;
    font-weight: bolder;
    padding-left: 3px;
    padding-right: 3px;

    &:not(:first-child) {
      box-shadow: inset 4px -3px 4px rgba(0, 0, 0, 0.3);
    }
  }

  .BookmarkWithIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -2px;
    text-shadow: 0 0 3px rgba(0, 0, 0, 1);
    padding-right: 2px;

    & > .icon {
      width: 8px;
      height: 8px;
      font-size: 8px;
    }

    & > .text {
      margin-top: 1px;
      font-size: 9px;
    }
  }
}

.Unsplashed {
  position: absolute;
  width: calc(50% - 4px);
  z-index: -1;
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  left: 2px;

  &--right {
    left: calc(50% + 6px);
  }

  & > .Signature {
    width: 13px;
    height: 4px;
    position: relative;
    top: 3px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 8px;
    text-align: center;
    padding-top: 2px;
    font-weight: bolder;
    padding-left: 3px;
    padding-right: 3px;
    display: block;

    background-color: #833ca4;

    &:not(:first-child) {
      box-shadow: inset 4px -3px 4px rgba(0, 0, 0, 0.3);
    }
  }
}

.icon {
  width: 8px;
  height: 8px;
  font-size: 8px;
}

.HeadRow {
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: 11px;
  line-height: 14px;
  font-weight: 500;
  position: relative;
  top: 1px;

  .classTitle {
    font-size: 11px;
    font-weight: bold;
    text-shadow: 0 0 2px rgb(0 0 0 / 73%);
  }

  .TagTitle {
    font-size: 11px;
    font-weight: 500;
    text-shadow: 0 0 2px rgba(231, 146, 52, 0.73);
    color: var(--rf-tag-color, #38bdf8);
  }

  /* Firefox kostyl */
  @-moz-document url-prefix() {
    .classSystemName {
      font-weight: bold;
    }
  }
}

.BottomRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 19px;

  .hasLocalCounter {
    margin-right: 2px;
    &.countAbove9 {
      margin-right: 1.5rem;
    }
  }

  .lockIcon {
    font-size: 0.45rem;
    font-weight: bold;
    position: relative;
  }

  .mapMarker {
    font-size: 0.45rem;
    font-weight: bold;
    position: relative;
  }
}

.effect {
  width: 8px;
  height: 8px;
  margin-top: -2px;
  box-sizing: border-box;
  border-radius: 2px;
  margin-left: 1px;
}

.statics {
  display: flex;
  gap: 2px;
  font-size: 8px;

  & > * {
    line-height: 10px;
  }

  /* Firefox kostyl */
  @-moz-document url-prefix() {
    position: relative;
    top: -1px;
  }
}

.Handlers {
  position: absolute;
  z-index: 4;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Handle {
  min-width: initial;
  min-height: initial;
  border: 1px solid $pastel-blue;
  width: 5px;
  height: 5px;
  pointer-events: auto;

  &.selected {
    border-color: $pastel-pink;
  }

  &.HandleTop {
    top: -2px;
  }

  &.HandleRight {
    right: -2px;
  }

  &.HandleBottom {
    bottom: -2px;
  }

  &.HandleLeft {
    left: -2px;
  }

  &.Tick {
    width: 7px;
    height: 7px;

    &.HandleTop {
      top: -3px;
    }

    &.HandleRight {
      right: -3px;
    }

    &.HandleBottom {
      bottom: -3px;
    }

    &.HandleLeft {
      left: -3px;
    }
  }
}

.ShatteredIcon {
  position: relative;
  //top: -1px;
  left: -1px;

  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;

  background-image: url(/images/chart-network-svgrepo-com.svg)
}
