@import './SolarSystemNodeDefault.module.scss';

/* ---------------------------------------------
   Only override what's different from the base
---------------------------------------------- */

.RootCustomNode {
  background-color: var(--rf-node-bg-color, #202020) !important;
  color: var(--rf-text-color, #ffffff);
  font-family: var(--rf-node-font-family, inherit) !important;
  font-weight: var(--rf-node-font-weight, inherit) !important;
}

.Bookmarks {
  font-family: var(--rf-node-font-family, inherit) !important;
  font-weight: var(--rf-node-font-weight, inherit) !important;
}

.HeadRow {
  font-family: var(--rf-node-font-family, inherit) !important;
  font-weight: var(--rf-node-font-weight, inherit) !important;

  .classTitle {
    font-family: var(--rf-node-font-family, inherit) !important;
    font-weight: var(--rf-node-font-weight, inherit) !important;
  }

  @-moz-document url-prefix() {
    .classSystemName {
      font-family: var(--rf-node-font-family, inherit) !important;
      font-weight: var(--rf-node-font-weight, inherit) !important;
    }
  }

  .classSystemName {
    font-family: var(--rf-node-font-family, inherit) !important;
    font-weight: var(--rf-node-font-weight, inherit) !important;
  }
}

.BottomRow {
  font-family: var(--rf-node-font-family, inherit) !important;
  font-weight: var(--rf-node-font-weight, inherit) !important;

  .tagTitle {
    font-size: 11px;
    font-weight: medium;
    text-shadow: 0 0 2px rgba(231, 146, 52, 0.73);
    font-family: var(--rf-node-font-family, inherit) !important;
    font-weight: var(--rf-node-font-weight, inherit) !important;
    color: var(--rf-tag-color, #38BDF8);
  }

  .regionName {
    color: var(--rf-region-name, #D6D3D1);
    font-family: var(--rf-node-font-family, inherit) !important;
    font-weight: var(--rf-node-font-weight, inherit) !important;
  }

  .customName {
    color: var(--rf-custom-name, #93C5FD);
    font-family: var(--rf-node-font-family, inherit) !important;
    font-weight
    : var(--rf-node-font-weight, inherit) !important;
  }

  .lockIcon {
    font-size: 0.45rem;
    font-weight: bold;
    position: relative;

    &.hasLocalCounter {
      margin-right: 1.25rem;
    }
  }

  .mapMarker {
    font-size: 0.45rem;
    font-weight: bold;
    position: relative;

    &.hasLocalCounter {
      margin-right: 1.25rem;
    }
  }
}


