.OnTheMapRoot {

}

.SidebarOnTheMap {
  width: 500px;
  padding: 0 !important;

  :global {
    .p-sidebar-content {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
}

.SidebarContent {
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: 4px;
  height: 100%;
}
