.GridLayoutWrapper {
  width: 100%;
  height: 100% !important;
}

.GridLayout {
  width: 100%;
  height: 100% !important;
  pointer-events: none;

  & > div {
    pointer-events: initial;
  }

  :global {
    .react-resizable-handle::after {
      border-color: #696969 !important;
    }

    .react-grid-placeholder {
      background-color: rgba(147, 147, 147, 0.3);
      //filter: blur(5px);
      border: 2px dashed #b6b6b6;
    }

    .react-grid-item {
      transition-property: none !important;
    }

    .react-grid-item.cssTransforms {
      transition-property: none !important;
    }
  }
}



