body .p-dialog {
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  overflow: hidden;
  border-radius: 2px;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2);
  transition: box-shadow 0.3s;
  z-index: 1000;
  border: 1px solid #212121;
  background: var(--surface-h);
  color: var(--text-color);

  .p-dialog-header {
    background: #171717 !important;
    color: var(--text-color);

    .p-dialog-header-icon:focus-visible {
      box-shadow: none !important;
    }
  }

  .p-dialog-footer {
    border-top: 1px solid var(--surface-d);
  }
}

.p-dialog-visible {
  visibility: visible;
}

.p-dialog-enter {
  opacity: 0;
}

.p-dialog-enter-active {
  opacity: 1;
  transition: opacity 0.3s;
}

.p-dialog-exit {
  opacity: 1;
}

.p-dialog-exit-active {
  opacity: 0;
  transition: opacity 0.3s;
}

.p-dialog-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background: #f4f4f4;
  height: 40px;
}

.p-dialog-content {
  padding: 0.5rem;
  overflow-y: auto;
  flex: 1;
}

.p-dialog-footer {
  padding: .75rem 1rem;
  border-top: none !important;
  //background: #f4f4f4;
}

.p-dialog-header-close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.p-dialog-header-close .pi {
  font-size: 1.25rem;
}

.p-dialog {
  .p-dialog-title {
    font-size: 1rem !important;
  }
  .p-dialog-header-icons {
    align-self: initial !important;
  }
}
