:global {
  .p-datatable .p-datatable-thead > tr > th {
    background-color: var(--surface-ground);
  }
  
  .p-datatable {
    width: 100%;
    border: none;
  }
  
  .p-datatable-wrapper {
    border: none !important;
  }
}

.spinnerContainer {
  width: 50px;
  height: 50px;
}

.characterColumn {
  width: 55%;
  min-width: 280px;
}

.numericColumn {
  width: 15%;
  min-width: 90px;
  text-align: center;
}

.dataTable {
  table-layout: fixed;
  width: 100%;
  border: none;
} 