.FastActions {
  :global {
    .p-menuitem-content {
      background-color: initial !important;
    }
    .p-menuitem-content:hover {
      background-color: initial !important;
    }
  }
}

.ContextMenu {
  width: max-content;
  min-width: unset;

  :global {
    .p-submenu-list {
      width: max-content;
      min-width: unset !important;
    }
  }
}
