<!DOCTYPE html>
<html lang="en" data-theme="dark" class="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Wanderer">
      <%= assigns[:page_title] || "Welcome" %>
    </.live_title>

    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />

    <link
      href="https://web.ccpgamescdn.com/aws/webfonts/shentox/webfonts-2.0/Shentox-SemiBold.woff2"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      href="https://web.ccpgamescdn.com/aws/webfonts/shentox/webfonts-2.0/Shentox-Medium.woff2"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      href="https://web.ccpgamescdn.com/aws/webfonts/shentox/webfonts-2.0/Shentox-Light.woff2"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      href="https://web.ccpgamescdn.com/aws/webfonts/shentox/webfonts-2.0/Shentox-Regular.woff2"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <script
      crossorigin="anonymous"
      src="https://unpkg.com/react@18/umd/react.production.min.js"
      integrity={integrity_hash("https://unpkg.com/react@18/umd/react.production.min.js")}
    >
    </script>
    <script
      crossorigin="anonymous"
      src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"
      integrity={integrity_hash("https://unpkg.com/react-dom@18/umd/react-dom.production.min.js")}
    >
    </script>
    <!-- Appzi: Capture Insightful Feedback -->
    <script async src="https://w.appzi.io/w.js?token=yddv0">
    </script>
    <!-- End Appzi -->

    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-61PHLLS0LD"
      crossorigin="anonymous"
    >
    </script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-61PHLLS0LD');
    </script>
    <script defer phx-track-static type="module" src={~p"/assets/app.js"} crossorigin="anonymous">
    </script>
  </head>
  <body>
    <%= @inner_content %>
  </body>
</html>
