.KillsBookmark {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: var(--rf-node-bookmark-font-size, 8px);
    font-weight: 700;
    border: 0;
    border-radius: var(--rf-node-bookmark-border-radius, 5px) var(--rf-node-bookmark-border-radius, 5px) 0 0;
    padding: var(--rf-kills-bookmark-padding, 4px 3px);

  }
  
.KillsBookmarkWithIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: var(--rf-node-bookmark-icon-margin-top, -2px);
    text-shadow: 0 0 3px #000;
    padding-right: var(--rf-node-bookmark-icon-padding-right, 2px);
    height: var(--rf-kills-bookmark-icon-height, 8px);
    font-size: var(--rf-node-bookmark-icon-font-size, 8px);
    line-height: var(--rf-kills-bookmark-line-height, 12px);
    font-weight: 700;
    text-size-adjust: 100%;

    .pi {
        font-size: var(--rf-node-bookmark-icon-font-size, 9px);
    }

    .text {
        font-size: var(--rf-node-bookmark-text-font-size, 9px);
        font-family: var(--rf-node-font-family, inherit) !important;
        font-weight: var(--rf-node-font-weight, inherit) !important;
    }
}

.TooltipContainer {
    background-color: #1a1a1a;
    color: #fff;
    padding: 3px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    pointer-events: auto;
    max-width: 500px;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
  }
