.InfoDrawerRoot {
  border-left: 1px solid rgb(115, 120, 128);

  &.RightSide {
    border-left: initial;
    border-right: 2px solid rgb(115, 120, 128);
  }
}

.InfoDrawerLabel {
  font-size: var(--rf-info-drawer-label-font-size, 11px);
  line-height: var(--rf-info-drawer-label-line-height, 12px);
  margin-bottom: 1px;
}
