@use '@/hooks/Mapper/components/map/styles/eve-common-variables';

.EdgePathBack {
  fill: none;
  stroke: #80a5c5;
  stroke-width: 3px;

  &.time1 {
    stroke: #f11ab2;
    stroke-width: 4px;
  }

  &.time4 {
    stroke: #a654e3;
    stroke-width: 4px;
  }

  &.TimeCrit {
    stroke: #f11ab2;
    stroke-width: 4px;
  }

  &.Hovered {
    stroke: #b5c8d9;

    &.TimeCrit {
      stroke: #ef7dce;
    }
  }

  &.Tick {
    stroke-width: 5px;

    &.TimeCrit {
      stroke-width: 6px;
    }
  }

  &.Gate {
    stroke: #9aff40;
  }

  &.Bridge {
    stroke: #9aff40;

    stroke-dasharray: 10 5;
    stroke-linecap: round;
  }
}

.EdgePathFront {
  fill: none;
  stroke: #2c3844;
  stroke-width: 2px;

  &.MassVerge:not(&.Frigate) {
    stroke: #af0000;
  }

  &.MassHalf:not(&.Frigate) {
    stroke: #ffd700;
  }

  &.Frigate {
    stroke: #d4f0ff;
  }

  &.Gate {
    stroke: #1c1e15;
  }

  &.Hovered {
    stroke: #4e5d6c;
    stroke-width: 2px;

    &.MassVerge:not(&.Frigate) {
      stroke: #9d4c34;
    }

    &.MassHalf:not(&.Frigate) {
      stroke: #ec992c;
    }

    &.Frigate {
      stroke: #d4f0ff;
    }
  }

  &.Tick {
    stroke-width: 3px;

    &.Hovered {
      stroke-width: 3px;
    }
  }
}

.ClickPath {
  fill: none;
  stroke: none;
  stroke-width: 8px;
}

.Handle {
  border: 1px solid var(--pastel-blue);
  width: 5px;
  height: 5px;
  z-index: 1001;

  &.Tick {
    width: 7px;
    height: 7px;
  }

  &.Right {
    margin-left: 0px;
  }
}

.LinkLabel {
  font-size: 9px;
  line-height: 10px;
  padding: 2px 4px;
  opacity: 1;

  & > span {
    font-weight: bold;
  }
}

.icon {
  width: 8px;
  height: 8px;
  font-size: 8px;
}
