@use '@/hooks/Mapper/components/map/styles/eve-common-variables';

.EdgePathBack {
  fill: none;
  stroke: #80a5c5;
  stroke-width: 3px;

  &.TimeEol4hr {
    stroke: var(--conn-time-eol-4hr);
    stroke-width: 4px;
  }

  &.TimeEol1hr {
    stroke: var(--conn-time-eol-1hr);
    stroke-width: 5px;
  }

  &.Hovered {
    stroke: #b5c8d9;

    &.TimeEol4hr {
      stroke: #9d7ce3;
    }

    &.TimeEol1hr {
      stroke: #ff7777;
    }
  }

  &.Tick {
    stroke-width: 5px;

    &.TimeEol4hr {
      stroke-width: 6px;
    }

    &.TimeEol1hr {
      stroke-width: 7px;
    }
  }

  &.Gate {
    stroke: #9aff40;
  }
}

.EdgePathFront {
  fill: none;
  stroke: #2c3844;
  stroke-width: 2px;

  &.MassVerge:not(&.Frigate) {
    stroke: #af0000;
  }

  &.MassHalf:not(&.Frigate) {
    stroke: #ffd700;
  }

  &.Frigate {
    stroke: #d4f0ff;
  }

  &.Gate {
    stroke: #1c1e15;
  }

  &.Hovered {
    stroke: #4e5d6c;
    stroke-width: 2px;

    &.MassVerge:not(&.Frigate) {
      stroke: #9d4c34;
    }

    &.MassHalf:not(&.Frigate) {
      stroke: #ec992c;
    }

    &.Frigate {
      stroke: #d4f0ff;
    }
  }

  &.Tick {
    stroke-width: 3px;

    &.Hovered {
      stroke-width: 3px;
    }
  }
}

.ClickPath {
  fill: none;
  stroke: none;
  stroke-width: 8px;
}

.Handle {
  border: 1px solid var(--pastel-blue);
  width: 5px;
  height: 5px;
  z-index: 1001;

  &.Tick {
    width: 7px;
    height: 7px;
  }

  &.Right {
    margin-left: 0px;
  }
}

.LinkLabel {
  font-size: 9px;
  line-height: 10px;
  padding: 2px 4px;
  opacity: 1;

  & > span {
    font-weight: bold;
  }
}

.icon {
  width: 8px;
  height: 8px;
  font-size: 8px;
}
