.MapRoot {
  width: 100%;
  height: 100%;

  background-color: var(--rf-bg-color, #0C0A09);

  &.BackgroundAlternateColor {
    background-color: var(--rf-soft-bg-color, #171717);
    --rf-node-bg-color: var(--rf-node-soft-bg-color, #202020);
  }
}
