.ConnectionTimeEOL {
  background-image: linear-gradient(207deg, transparent, #7452c3e3);
}

.ConnectionFrigate {
  background-image: linear-gradient(207deg, transparent, #325d88);
}

.ConnectionSave {
  background-image: linear-gradient(207deg, transparent, rgba(155, 102, 45, 0.85));
}

.SelectedItem {
  background-color: rgba(98, 98, 98, 0.33);
}
