@use '@/hooks/Mapper/components/map/styles/eve-common-variables';

.ConnectionTimeEOL {
  background-image: linear-gradient(207deg, transparent, var(--conn-time-eol));
}

.ConnectionFrigate {
  background-image: linear-gradient(207deg, transparent, var(--conn-frigate));
}

.ConnectionBridge {
  background-image: linear-gradient(207deg, transparent, var(--conn-bridge));
}

.ConnectionSave {
  background-image: linear-gradient(207deg, transparent, var(--conn-save));
}

.SelectedItem {
  background-color: var(--selected-item-bg);
}

.FastActions {
  :global {
    .p-menuitem-content {
      background-color: initial !important;
    }
    .p-menuitem-content:hover {
      background-color: initial !important;
    }
  }
}
