@import '@/hooks/Mapper/components/map/styles/eve-common-variables';

.ConnectionTimeEOL {
  background-image: linear-gradient(207deg, transparent, var(--conn-time-eol));
}

.ConnectionFrigate {
  background-image: linear-gradient(207deg, transparent, var(--conn-frigate));
}

.ConnectionSave {
  background-image: linear-gradient(207deg, transparent, var(--conn-save));
}

.ConnectionLoop {
  background-image: linear-gradient(207deg, transparent, var(--conn-loop));
}

.SelectedItem {
  background-color: var(--selected-item-bg);
}
