.FadeEnter {
  opacity: 0;
  transform: scale(0.95);
}

.FadeEnterActive {
  opacity: 1;
  transform: scale(1);
  transition: opacity 200ms, transform 200ms;
}

.FadeExit {
  opacity: 1;
  transform: scale(1);
}

.FadeExitActive {
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 200ms, transform 200ms;
}
