.RoutesListRoot {
  display: flex;
  gap: 2px;
  align-items: center;
  flex-wrap: wrap;
}

.RouteSystem {
  width: 8px;
  height: 8px;

  cursor: pointer;
  transition: opacity 200ms;
  opacity: 1;
}

.Faded {
  opacity: 0.3;
}
