.wrapper {
  overflow-x: hidden;
  box-sizing: border-box;
  height: 100%;
  min-height: 250px;
  display: flex;
  flex-direction: column;
}

.scrollerContent {
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  min-height: 250px;
}

.VirtualScroller {
  height: 100% !important;
  min-height: 250px !important;
  flex: 1;
}
