/* TODO all of this styles need for fixing
     problems with PrimeFlex because of tailwind broke them

     IMPORTANT: here should not be set any design - only original PrimeFlex behaviour
     e.g. paddings, margins, positions and other.
*/

.p-virtualscroller {
  position: relative;

  .p-virtualscroller-spacer {
    position: absolute;
    pointer-events: none;
    top: 0;
    width: 100%;
  }
}

.p-tooltip {
  position: absolute;
}

.p-menuitem, .p-menuitem-content {
  height: 36px;
  flex-grow: 1;
}

.p-menuitem > .p-menuitem-content > a {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  padding: 0 12px;
}

.p-contextmenu .p-menuitem {
  position: relative;
}

.p-contextmenu .p-submenu-list {
  position: absolute;
  min-width: 100%;
  z-index: 1;
}

.p-contextmenu .p-menuitem-link .p-submenu-icon {
  margin-left: auto;
}

.p-contextmenu .p-submenu-list {
  padding: 0.5rem 0;
  //border: 0 none;
  border-radius: 6px;
  //border: 1px solid #383838;
}

.p-icon-field {
  .p-inputtext {
    width: 100%;
  }

  .p-input-icon {
    right: 0.75rem;
  }
}

.p-sortable-column {
  font-size: 12px;
  font-weight: bold;
  padding: 3px 4px;
}

.p-selectable-row td {
  padding: 4px 4px;
}

.p-sortable-column > .p-column-header-content > span:last-child {
  transform: scale(0.7);

  & > svg {
    margin-left: 4px;
  }
}

.p-dropdown-label, .p-inputtext {
  padding: 0.25rem 0.75rem;
  font-size: 14px;
}

.p-dropdown-item {
  padding: 0.25rem 0.5rem;
  font-size: 14px;
}

.p-dropdown-item-group {
  padding: 0.25rem 0.75rem;
  font-size: 14px;
}

.p-dropdown-trigger {
  width: 14px;
  margin: 0 12px;
}

.p-dropdown-empty-message {
  padding: 0.25rem 0.5rem;
}
