.MainCharacter,
.FollowingCharacter {
  &::before, &::after {
    content: " ";
    display: inline-block;
    width: 11px;
    height: 11px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    z-index: 1;
    overflow: hidden;
    border-radius: 1px;
  }
}

.MainCharacter {
  &::before {
    background-image: url(/images/73_16_247.png);
    left: 22px;
    top: 0px;
    transform: rotateZ(90deg);
  }
}

.FollowingCharacter {
  &::after {
    background-image: url(/images/73_16_241.png);
    left: 22px;
    top: 22px;
    transform: rotateZ(180deg);
  }
}

.Docked {
  content: " ";
  display: inline-block;
  width: 11px;
  height: 11px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  z-index: 1;
  overflow: hidden;
  border-radius: 1px;

  background-image: url(/images/citadelLarge.png);
  left: 2px;
  top: 22px;
  transform: rotateZ(0deg);
}
