.TableRowCompact {
  height: 8px;
  max-height: 8px;
  font-size: 12px !important;
  line-height: 8px;
}

.Table {
  :global {
    .p-sortable-column > .p-column-header-content > span:last-child {
      transform: scale(0.7);

      & > svg {
        margin-left: 4px;
      }
    }
  }
}
