.WdImgButtonRoot {
  transition: opacity 200ms;
  opacity: 0.5;
  pointer-events: initial !important;

  &:hover {
    opacity: 1;
  }
}

.Normal {
  font-size: 12px;
}

.Large {
  font-size: 16px;
}
