.TableRowCompact {
  height: var(--rf-table-row-compact-height, 8px);
  max-height: var(--rf-table-row-compact-height, 8px);
  font-size: var(--rf-table-font-size, 12px) !important;
  line-height: var(--rf-table-row-compact-line-height, 8px);
}

.Table {
  font-size: var(--rf-table-font-size, 12px);
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

.Table .p-datatable-tbody > tr > td {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.Tooltip {
  white-space: pre-line;
  line-height: 1.2rem;
}
