  .TableRowCompact {
    height: 8px;
    max-height: 8px;
    font-size: 12px !important;
    line-height: 8px;
  }
  
  .Table {
    font-size: 12px;
    border-collapse: collapse;
  }
  

  .Tooltip {
    white-space: pre-line;  // or pre-wrap
    line-height: 1.2rem;
  }
  