@use './eve-common-variables';
@use './eve-common';

.default-theme {
  --rf-bg-color: #0C0A09;
  --rf-soft-bg-color: #171717;

  --rf-node-bg-color: #202020;
  --rf-node-soft-bg-color: #202020;
  --rf-text-color: #ffffff;
  --rf-tag-color:  #38BDF8;
  --rf-region-name: #D6D3D1;
  --rf-custom-name: #93C5FD;
  --rf-node-font-family: 'Shentox', 'Rogan', sans-serif !important;
  --rf-node-font-weight: 500;

  --rf-bg-variant: "dots";
  --rf-bg-gap: 15;
  --rf-bg-size: 1;
  --rf-bg-pattern-color: #81818a;

  --pastel-blue: #5a7d9a;
  --pastel-pink: #d291bc;
  --pastel-green: #88b04b;
  --pastel-yellow: #ffdd59;

  --dark-bg: #2d2d2d;
  --text-color: #ffffff;
  --tooltip-bg: #202020;

  --window-corner: #72716f;

  --rf-local-counter-font-weight: 500;
  --rf-node-local-counter: inherit;
  --rf-has-user-characters: #ffc75d;
}
