@use "sass:color";

$friendlyBase: #3bbd39;
$friendlyAlpha: #3bbd3952;
$friendlyDark20: color.adjust($friendlyBase, $lightness: -20%);
$friendlyDark30: color.adjust($friendlyBase, $lightness: -30%);
$friendlyDark5:  color.adjust($friendlyBase, $lightness: -5%);

$lookingForBase: #43c2fd;
$lookingForAlpha: rgba(67, 176, 253, 0.48);
$lookingForDark15: color.adjust($lookingForBase, $lightness: -15%);

$homeBase: rgb(179, 253, 67);
$homeAlpha: rgba(186, 248, 48, 0.32);
$homeBackground: #a0fa5636;
$homeDark30: color.adjust($homeBase, $lightness: -30%);

:root {
  --pastel-blue: #5a7d9a;
  --pastel-pink: #d291bc;
  --pastel-green: #88b04b;
  --pastel-yellow: #ffdd59;
  --dark-bg: #2d2d2d;
  --text-color: #ffffff;
  --tooltip-bg: #202020;

  --pastel-blue-darken10: #4f6b86;
  --pastel-blue-lighten10: #6da3af;
  --pastel-pink-darken10: #bb7ca9;
  --pastel-pink-lighten10: #e0a6cb;
  --pastel-green-darken10: #79a244;
  --pastel-green-lighten10: #99cf52;
  --pastel-yellow-darken10: #e6c44f;
  --pastel-yellow-lighten10: #ffe874;

  --eve-link-color-default: #333;
  --eve-link-color-top-mass-0: #333;
  --eve-link-color-top-mass-1: #5a4520;
  --eve-link-color-top-mass-2: #672c2c;
  --eve-link-color-middle-mass-0: #333;
  --eve-link-color-middle-mass-1: #333;
  --eve-link-color-middle-mass-2: #333;
  --eve-link-color-middle-time-0: #5c5c5c;
  --eve-link-color-middle-time-1: #ff00cd;
  --eve-link-color-middle-time-1-border: #99f3ff;
  --eve-link-color-top-mass-1-time-1: #796300;
  --eve-link-color-top-mass-2-time-1: #8c1717;
  --eve-link-color-temp: orange;

  --eve-effect-pulsar: #40aef5;
  --eve-effect-magnetar: #f058f8;
  --eve-effect-wolfRayet: #ef7843;
  --eve-effect-blackHole: #1b1b1b;
  --eve-effect-cataclysmicVariable: #ffea90;
  --eve-effect-redGiant: #fd3c3c;
  --eve-effect-dazhLiminalityLocus: #ff6464;
  --eve-effect-imperialStellarObservatory: #6991ce;
  --eve-effect-stateStellarObservatory: #6991ce;
  --eve-effect-republicStellarObservatory: #6991ce;
  --eve-effect-federalStellarObservatory: #6991ce;

  --eve-wh-type-color-high: #5dffd2;
  --eve-wh-type-color-low: #f79400;
  --eve-wh-type-color-null: #fc3c3c;
  --eve-wh-type-color-c1: #69bfce;
  --eve-wh-type-color-c2: #6991ce;
  --eve-wh-type-color-c3: #a8cb70;
  --eve-wh-type-color-c4: #e39c68;
  --eve-wh-type-color-c5: #de8686;
  --eve-wh-type-color-c6: #e76363;
  --eve-wh-type-color-c13: #988cb5;
  --eve-wh-type-color-drifter: #ff44f6;
  --eve-wh-type-color-thera: #ffffff;
  --eve-wh-type-color-zarzakh: #212121;

  --eve-security-color-10: #2c74df;
  --eve-security-color-09: #3998e8;
  --eve-security-color-08: #4dcbf5;
  --eve-security-color-07: #60d8a2;
  --eve-security-color-06: #71e454;
  --eve-security-color-05: #f2fc81;
  --eve-security-color-04: #d96c07;
  --eve-security-color-03: #cb440f;
  --eve-security-color-02: #b91117;
  --eve-security-color-01: #732020;
  --eve-security-color-00: #8b3263;
  --eve-security-color-m-01: #8b3263;
  --eve-security-color-m-02: #8b3263;
  --eve-security-color-m-03: #8b3263;
  --eve-security-color-m-04: #8b3263;
  --eve-security-color-m-05: #8b3263;
  --eve-security-color-m-06: #8b3263;
  --eve-security-color-m-07: #8b3263;
  --eve-security-color-m-08: #8b3263;
  --eve-security-color-m-09: #8b3263;
  --eve-security-color-m-10: #8b3263;

  --eve-solar-system-status-unknown: transparent;
  --eve-solar-system-status-color-unknown: transparent;
  --eve-solar-system-status-home:                #{$homeAlpha};
  --eve-solar-system-status-color-home:          #{$homeBase};
  --eve-solar-system-status-color-background:    #{$homeBackground};
  --eve-solar-system-status-color-home-dark30:   #{$homeDark30};
  --eve-solar-system-status-friendly:            #{$friendlyAlpha};
  --eve-solar-system-status-color-friendly:      #{$friendlyBase};
  --eve-solar-system-status-friendly-dark30:     #{$friendlyDark30};
  --eve-solar-system-status-color-friendly-dark20: #{$friendlyDark20};
  --eve-solar-system-status-color-friendly-dark5:  #{$friendlyDark5};
  --eve-solar-system-status-lookingFor:              #{$lookingForAlpha};
  --eve-solar-system-status-color-lookingFor:        #{$lookingForBase};
  --eve-solar-system-status-color-lookingFor-dark15: #{$lookingForDark15};
  --eve-solar-system-status-warning: #906518a6;
  --eve-solar-system-status-color-warning: #ffb93b;
  --eve-solar-system-status-target: #b439ff6b;
  --eve-solar-system-status-color-target: #b439ff;
  --eve-solar-system-status-dangerous: #d54040;
  --eve-solar-system-status-color-dangerous: #d54040;

  --conn-time-eol: #7452c3e3;
  --conn-frigate: #325d88;
  --conn-bridge: rgba(135, 185, 93, 0.85);
  --conn-save: rgba(155, 102, 45, 0.85);
  --selected-item-bg: rgba(98, 98, 98, 0.33);
}
