@use './fanaberia-theme' as fanaberiaThemeMainStyle;

.fanaberiadashed-theme {
  @include fanaberiaThemeMainStyle.fanaberia-theme-mainstyle;

  --rf-edge-time-eol-dasharray: 30, 5;
  --rf-edge-time-critical-dasharray: 15, 5;
  --rf-edge-mass-half-dasharray: 30 5;
  --rf-edge-mass-verge-dasharray: 5 5;
}
